body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0c0c0c;
    color: #333333;
}

header{
    background-color: #8b4b4b;
    color: rgb(86, 51, 167);
    padding: 10px 0;
    text-align: center;
}

h1{
    margin: 0;
}

main{
    padding: 20px;
    background-color: rgb(138, 10, 10);
    border-radius: 5px;
    text-align: center;
}

button{
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover{
    background-color: #0056b3;
}
